<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="io" 
          class="com.sblinn.vendingmachine.ui.UserIOConsoleImpl"/>
    
    <bean id="view" 
          class="com.sblinn.vendingmachine.ui.VendingMachineView">
        <constructor-arg ref="io"/>
    </bean>
    
    <bean id="dao" 
          class="com.sblinn.vendingmachine.dao.VendingMachineDaoFileImpl"/>

    <bean id="auditDao" 
          class="com.sblinn.vendingmachine.dao.VendingMachineAuditDaoFileImpl"/>
    
    <bean id="service" 
          class="com.sblinn.vendingmachine.service.VendingMachineServiceLayerImpl">
        <constructor-arg ref="dao"/>
        <constructor-arg ref="auditDao"/>      
    </bean>
    
    <bean id="controller"
          class="com.sblinn.vendingmachine.controller.VendingMachineController">
        <constructor-arg ref="view"/>
        <constructor-arg ref="service"/>
    </bean>
    
</beans>