<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd" >
          
     
    
    <bean id="dao" 
          class="com.sblinn.vendingmachine.dao.VendingMachineDaoFileImpl">
        <constructor-arg ref="testFile"/>
    </bean>
    
    <bean id="testFile" class="java.lang.String">
        <constructor-arg value="testinventory.txt"/>
    </bean>

    <bean id="daoStub" 
          class="com.sblinn.vendingmachine.service.VendingMachineDaoStubImpl"/>
    
    <bean id="auditDaoStub"
          class="com.sblinn.vendingmachine.service.VendingMachineAuditDaoStubImpl"/>
    
    <bean id="service" 
          class="com.sblinn.vendingmachine.service.VendingMachineServiceLayerImpl"> 
        <constructor-arg ref="daoStub"/>
        <constructor-arg ref="auditDaoStub"/>
    </bean>   
          
</beans>